{% extends "base.html" %}
{% block title %}Actualizar Producto{% endblock %}

{% block content %}
<h2>Actualizar Producto</h2>

<form method="POST">
    <div>
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" value="{{ producto[1] }}" required>
    </div>
    <div>
        <label for="cantidad">Cantidad:</label><br>
        <input type="number" id="cantidad" name="cantidad" value="{{ producto[2] }}" min="1" required>
    </div>
    <div>
        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name="precio" value="{{ producto[3] }}" step="0.01" min="0" required>
    </div>
    <div>
        <button type="submit">Actualizar</button>
    </div>
</form>
{% endblock %}