<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{% block title %}TANIA GUERRERO BEAUTY TRAINNER{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
 <!-- Encabezado -->  
<header>
    <h1>TANIA GUERRERO BEAUTY TRAINNER</h1>
<nav>
     <ul>
        <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
        <li><a href="{{ url_for('about') }}">Acerca de</a></li>
        <li><a href="{{ url_for('servicios') }}">Servicios</a></li>
        <li><a href="{{ url_for('productos') }}">Productos</a></li>
        <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
    </ul>
</nav>
</header>

<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
 <!-- Contenido dinámico -->

     {% block content %}
     {% endblock %}
</main>

    <!-- Pie de página -->
<footer>
   <p>&copy; 2026 TANIA GUERRERO BEAUTY TRAINNER</p> 
</footer>

</body>
</html>