{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Iniciar Sesión</h2>

    <div class="card p-4 mx-auto" style="max-width: 500px;">
        <form method="POST">

            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>Contraseña</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button class="btn btn-success w-100">
                Iniciar sesión
            </button>

        </form>
    </div>
</div>

{% endblock %}