{% extends "base.html" %}

{% block content %}

<div class="container">

    <h2 class="mb-4">Productos</h2>

    <a href="{{ url_for('nuevo_producto') }}" class="btn btn-primary mb-3">
        ➕ Nuevo Producto
    </a>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>

        <tbody>
            {% for p in productos %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nombre }}</td>
                <td>{{ p.cantidad }}</td>
                <td>${{ p.precio }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
