{% extends "base.html" %}
{% block title %}Productos{% endblock %}

{% block content %}
<h2>Productos</h2>
<p>Productos de belleza disponibles para la venta.</p>

<form action="{{ url_for('agregar_producto') }}" method="POST">
     {{ form.hidden_tag() }}  {# Si usas Flask-WTF para CSRF #}

    <div>
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del producto" required>
    </div>

    <div>
        <label for="cantidad">Cantidad:</label><br>
        <input type="number" id="cantidad" name="cantidad" placeholder="Ingrese la cantidad" min="1" required>
    </div>

    <div>
        <label for="precio">Precio:</label><br>
        <input type="number" id="precio" name="precio" placeholder="Ingrese el precio" step="0.01" min="0" required>
    </div>

    <div>
        <button type="submit">Agregar Producto</button>
    </div>
</form>

{% endblock %}