{% extends "base.html" %}

{% block title %}Reserva{% endblock %}

{% block content %}
<div class="text-center mb-5">
    <h2>Reserva tu cita</h2>
    <p class="lead">Completa el formulario para reservar tu servicio.</p>
</div>

<!-- Mensajes flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('reserva') }}">
    <div class="mb-3">
        <label for="nombre_cliente" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre_cliente" name="nombre_cliente" placeholder="Tu nombre" required>
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Tu teléfono" required>
    </div>
    <div class="mb-3">
        <label for="servicio" class="form-label">Servicio</label>
        <select class="form-select" id="servicio" name="servicio" required>
            <option selected disabled>Selecciona un servicio</option>
            <option value="Maquillaje Profesional">Maquillaje Profesional</option>
            <option value="Asesoría Personalizada">Asesoría Personalizada</option>
            <option value="Tratamientos Capilares">Tratamientos Capilares</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" class="form-control" id="fecha" name="fecha" required>
    </div>
    <div class="mb-3">
        <label for="hora" class="form-label">Hora</label>
        <input type="time" class="form-control" id="hora" name="hora" required>
    </div>
    <button type="submit" class="btn btn-primary">Reservar</button>
</form>
{% endblock %}